<div>
  <h2 class="about-heading">About Task Manager</h2>
  <p class="about-paragraph">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Id consectetur purus ut
    faucibus pulvinar. Hendrerit dolor magna eget est lorem ipsum. Ipsum a arcu
    cursus vitae congue mauris. Sed elementum tempus egestas sed sed risus
    pretium. Facilisi etiam dignissim diam quis enim lobortis scelerisque.
    Facilisi cras fermentum odio eu. Sapien faucibus et molestie ac feugiat sed.
    Aliquet lectus proin nibh nisl condimentum id venenatis a condimentum.
    Mollis nunc sed id semper risus in. Quam elementum pulvinar etiam non quam
    lacus suspendisse faucibus interdum. Viverra accumsan in nisl nisi
    scelerisque eu. Dictumst quisque sagittis purus sit amet volutpat. Magna
    eget est lorem ipsum. Tortor id aliquet lectus proin nibh nisl condimentum
    id venenatis.
  </p>
  <a routerLink="/">Go back</a>
</div>
